table { 
    border: 5px solid black;
    border-collapse: collapse;
}
th { 
    border: 5px solid black;
    border-collapse: collapse;
}
td { 
    border: 5px solid black;
    border-collapse: collapse;
} 